* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   font-family: 'Merriweather', 'Times New Roman', Times, serif;
   background-color: #dffcb5;
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/merriweather/v25/u-4m0qyriQwlOrhSvowK_l5-eRZOf-I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* header section */
.homeHeaderDiv {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    line-height: 4em;
    /* border: 1px solid; */
}
#homeTitle {
    font-size: 3em;
}
#homeNav ul {
    display: inline-flex;
    justify-content: space-evenly;
    width: 70%;
}
.navItems {
    font-size: 1.5em;
}
.navItems:hover {
    color: #9870fc;
}

 /* main section */
.introDiv {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 3em;
    width: 100%;
    height: 60vh;
    border: 1px dotted #add1fc;;  
}
#introHeading {
    width: 35%;
}
#introPar {
    width: 35%;
    padding-right: 2em;
    line-height: 2.5em;
}
/* footer section */
footer {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
}
.footerLinks {
    text-decoration: underline;
}
#footerAuthor {
    font-size: 0.7em;
}